imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  skip_tasks:
    - phpspec
    - infection
  extra_tasks:
    phpspec:
      verbose: true
    infection:
      threads: 2
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 60
      min_covered_msi: 60
