formatter.name: pretty
extensions:
  FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension:
    format:
      - clover
    output:
      html: build/coverage
      clover: build/logs/coverage/clover.xml
      php: build/coverage.php
